{% extends 'ShopMenu.html' %}
{% block title %}
Добавить товар
{% endblock %}
{% block main %}
<div class='catalog'>
<form action='/add' method='POST'>
	<table align='center'>
		<tr>
			<td>Название</td>
			<td><input type='text' name='name'></td>
		</tr>
		<tr>
			<td>Цена</td>
			<td><input type='text' name='price'></td>
		</tr>
		<tr>
			<td>Раздел</td>
			<td><input type='text' name='collection'></td>
		</tr>
		<tr>
			<td>Изображение</td>
			<td><input type='text' name='image'></td>
		</tr>
		<tr>
			<td>Описание</td>
			<td><textarea rows='4' cols='50' name='descr'></textarea></td>
		</tr>
		<tr>
		<td><input type='submit' value='Загрузить'></td>
		</tr>
		<tr>
		<td><input type='file' value='Файл' accept='.xlsx'></td>
		</tr>
	</table>
</form>
</div>
{% endblock %}
